{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "jsx-a11y", "import"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
