.posts {
  list-style-type: none;
  margin: 0;
}

.title {
  color: #1e836c;
}

.post {
  margin: 1rem 0;

  a {
    background: #c3ddd6;
    color: #000;
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
  }

  a:hover {
    background: #aadbcf;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #777;
    font-size: 0.8rem;
    font-style: italic;
  }
}
